<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
    <div th:replace="~{components/header :: header}"></div>
    <body>
        <div th:replace="~{components/navbar :: navbar}"></div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                    <h1 class="text-center"> Edit Contract </h1>
                    <div class="card-body">
                        <form th:object="${contract}" th:action="@{/master/contracts/update/{id} (id=${contract.id})}" method="POST">
                            <div class="form-group">
                                <label> Contract Name </label>
                                <input
                                        type="text"
                                        name="name"
                                        class="form-control"
                                        th:field="*{name}"
                                        placeholder="Enter Contract Name"
                                />
                            </div>

                            <div class="box-footer mt-3">
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>