<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
    <div th:replace="~{components/header :: header}"></div>
    <body>
        <div th:replace="~{components/navbar :: navbar}"></div>

        <div class="container mt-3">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                    <h3 class="text-center"> Add New Employee </h3>
                    <div class="card-body">
                        <form th:action="@{/master/employees/submit}" th:object="${request}" method="POST">
                            <div class="form-group">
                                <label> Employee Name </label>
                                <input
                                        type="text"
                                        name="employeeName"
                                        class="form-control"
                                        th:field="*{employeeName}"
                                        placeholder="Enter Employee Name"
                                />

                                <label> NIK </label>
                                <input
                                        type="text"
                                        name="nik"
                                        class="form-control"
                                        th:field="*{nik}"
                                        placeholder="Enter Employee nik"
                                />

                                <label> Position Name </label>
                                <select
                                        name="name"
                                        class="form-select"
                                        th:field="*{position.id}"
                                        placeholder="Select Position Name"
                                        aria-label="Position Name">
                                    <option
                                            th:each="position : ${positions}"
                                            th:value="${position.id}"
                                            th:text="${position.name}">
                                    </option>
                                </select>
                            </div>

                            <div class="box-footer mt-3">
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>